@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  margin-top: 5rem;
  font-size: $font-size-sm;
  color: $text-muted;
  text-align: right;
}